<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeBox</title>
</head>

<body>
    <h1>All Recipes</h1>
    <hr>
    <div>
        <a style="padding-right: 20px" href="/addauthor"><button type="button">Add Author</button></a>
        <a href="/addrecipe"><button type="button">Add Recipe</button></a>
    </div>
    <hr>
    <div>
        {% for recipe in recipes %}
        <div>
            <p><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></p>
        </div>
        {% endfor %}
    </div>

</body>

</html>